# Ignora node_modules em qualquer nível e TUDO o que estiver lá dentro
node_modules/
**/node_modules/
.package-lock.json

# Ignora ficheiros de ambiente (Segurança)
.env
**/.env
.env.local
.env.*.local

# Ignora pastas de build/dist
dist/
**/dist/
client/dev-dist/

# Ignora logs de erro do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*